{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css46</title>
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
    
</head>
<body ondragstart="return false;" ondrop="return false;">
<div class="screen"></div>
<div class="superbox">
    <div class="box">
    
    {% for i in 36|get_range %}

        {% if i in 0|whites %}
            <div class="w mb"></div>
        {% else %}
           <div class="r mb"></div>
        {% endif %}
    {% endfor %}
    
    </div>
    <div class="box">
    
    {% for i in 36|get_range %}

        {% if i in 0|whites %}
            <div class="w mb"></div>
        {% else %}
           <div class="r mb"></div>
        {% endif %}
    {% endfor %}
    
    </div>

</div>
<h5 id = "stat"></h5>


    <script type="text/javascript" src = "{% static 'js/script.js' %}"></script>
</body>
</html>