{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css46</title>
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
    
</head>
<body>
    <div class="box">
    
    {% for i in 400|get_range %}

        {% if i in 0|whites %}
            <div class="w" id = "mb"></div>
        {% else %}
           <div class="r" id = "mb"></div>
        {% endif %}
    {% endfor %}
    
    </div>

    <script type="text/javascript" src = "{% static 'js/script.js' %}"></script>
</body>
</html>