.box {
    background-color: white;
    margin: 15px 0;
    padding: 11px;
    border-radius: 7px;
    box-shadow: 5px 5px 3px lightgray;
    transition: 0.5s;
    display: flex;
    overflow: hidden;
  }
  
  .indicator{
    height: auto;
    width: 10px;
    background-color: brown;
    border-radius: 10px;
  }
  
  .content{
    padding: 15px;
  }

  .box:hover {
    transform: scale(1.01);
  }